html, body {
    font-size: 62.5%;
   
    background: #f0f0f2;
    /* height: 100%; */
}
.warp {
	padding-top:80px;
    width: 100%;
    /* height: 100%; */
    background: #f8f8f8;
    font-size: 14px;
    color: #101010;
    height:800px;
}

.warp .warp_form {
    margin: 0 auto;
    width: 100%;
}

.warp_form {
    max-width: 700px;
}


.vertical_align {
	/*height: 35px;*/
	vertical-align: center;
}

.iframe {
	background: #fff;
	padding: 10px 8%;
	margin-bottom: 0.8rem;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
}

.back_img {
	width: 100%;
	/*height: 120px; 
	height: 1%;*/
	height: 42vh;
	min-height: 200px;
	overflow: hidden;
}

.back_img img {
	width: 100%;
	height: 130%;
	position: relative;
	top: -10%;
}

.float_img {
	width: 134px;
	height: 60px;
	/*z-index: 2;*/
	position: relative;
	margin: 0 auto;
	top: -80px;
	border-radius: 68px;
}

.image_photo {
	/*margin-top: 100px;*/
	width: 130px;
	height: 130px;
	border-radius: 68px;
	border: 2px solid white;
}

.center_text {
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
}

.table_title_cs {
	min-width: 60px;
	color: #666;
	padding: 10px 10px 10px 0px;
}

.white_text {
	color: #666;
}

.image_icon {
	min-width: 35px;
	width: 7vw;
	max-width: 50px;
	min-height: 35px;
	height: 7vw;
	max-height: 50px;
	border-radius: 4px;
	vertical-align: middle;
}

.min_icon {
	min-width: 25px;
	width: 6vw;
	max-width: 35px;
	border-radius: 16px;
	vertical-align: middle;
}

.padding_text {
	padding: 10px 0px 10px 10px;
}

.table_info {
	display: table;
	margin: 0 auto;
}